<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors Lizard Spock</title>
</head>
<body>
<h2>Welcome</h2>

{% if(outcome) %}
<h2>{{ outcome.getOutcomeName() }}</h2>
<p>{{ outcome.description }}</p>
<p>Please select a character to play again: </p>
{% else %}
<p>Please select a character to play: </p>
{% endif %}

<form method="POST" action="{{ path('game') }}">
    {% for character in characters %}
    <button type="submit" name="character" value="{{ character.getName() }}">{{ character.getName() }}</button>
    {% endfor %}
</form>

<h2>Statistics</h2>
<h3>Win / Loss / Draw </h3>

<ul>
    {% for c in statistics.win_loss_counts %}
        <li>{{ c.win_loss_draw_count}} {{ c.outcome }}</li>
    {% endfor %}
</ul>

<h3>Player's Characters</h3>
<ul>
    {% for c in statistics.player_characters %}
    <li>{{ c.times_used}} {{ c.player_character }}</li>
    {% endfor %}
</ul>

<h3>Computers's Characters</h3>
<ul>
    {% for c in statistics.computer_characters %}
        <li>{{ c.times_used}} {{ c.player_character }}</li>
    {% endfor %}
</ul>

</body>
</html>